<% content_for :title, "NEET GOV ONLINE EXAMINATION PORTAL" %>
  <!-- ============================================================== -->
 <!-- Start right Content here -->
 <!-- ============================================================== -->
 <div class="content-page">
  <!-- Start content -->
  <div class="content">
   <div class="container">

   <div class="row">
      <div class="col-sm-12">
    <ol class="breadcrumb">
          <li><b><a href="/addecet/mathematics/<%=params[:count]%>">Mathematics</a></b></li>
          <li><b><a href="/addecet/physics/<%=params[:count]%>">Physics</a></b></li>
          <li><b><a href="/addecet/chemistry/<%=params[:count]%>">Chemistry</a></b></li>
          <li><b><a href="/addecet/ece/<%=params[:count]%>">Ece</a></b></li>
          <li><b><a href="/addecet/cse/<%=params[:count]%>">Cse</a></b></li>
          <li><b><a href="/addecet/eee/<%=params[:count]%>">Eee</a></b></li>
          <li><b><a href="/addecet/mechanical/<%=params[:count]%>">Mechanical</a></b></li>
          <li><b><a href="/addecet/civil/<%=params[:count]%>">Civil</a></b></li>
        </ol>
    </div>
    </div>
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <h4 class="page-title">Add Ecet Questions</h4>
        <ol class="breadcrumb">
          <li><b><a href="/">Home</a></b></li>
          <li><b><a href="/board">Admin</a></b></li>
          <li><b><a href="/adminecet">Subjects</a></b></li>
          <li class="active">Add Questions</li>
        </ol>
        <% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
        <% end %>
      </div>
    </div>
 


<div class="container">

<br>
  <%= simple_form_for @ecet, url: {:action => "addecet",  :method => "post"} do |f| %>              
    <div class="row">
      <div class="col-sm-7">
          <div class="col-sm-10">
            <span style="font-size: 20px;"><b class="text-warning">ECET </b><b class="text-success">CIVIL </b><b class="text-warning">FORM</b></span>
          </div>
          <div class="col-sm-2">
            <!--  <%= f.input :subject, :required => true, :collection => ['Mathematics','Physics','Chemistry','Civil', 'Electrical & Electronics', 'Mechanical', 'Electronics & Communication', 'Computer Science and Engineering'], :label => false, :input_html => {:style => "width:100%;", :class => "form-control"}, :prompt => "Select Subject" %><br> -->
            <%= f.hidden_field :subject, :value => "civil", :required => true, :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
            <%= f.hidden_field :short_subject, :value => "civil", :required => true, :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
          </div>
      </div><br>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-4">Question Image :</div>
          <div class="col-sm-6"><%= f.file_field :que_image %></div>
        </div>
      </div>
    </div> 
     <%= f.input :question, as: :ckeditor, :required => true, :placeholder => "Add Question", :label => false, :input_html => {ckeditor: { toolbar: 'Full' }, :style => "width:100%;", :class => "form-control", :rows => 3, :columns => 5} %><br>
      <div class="row">
        <div class="col-sm-4">
          <%= f.input :a, :required => true, :placeholder => "option A", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
          <%= f.input :b, :required => true, :placeholder => "option B", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
        </div>
        <div class="col-sm-4">
          <%= f.input :c, :required => true, :placeholder => "option C", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
          <%= f.input :d, :required => true, :placeholder => "option D", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
        </div>
        <div class="col-sm-4">
          <%= f.input :answer, :required => true, :collection => ['a','b','c','d'], :label => false, :input_html => {:style => "width:100%;", :class => "form-control"}, :prompt => "Select True Answer" %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.input :test_count, :placeholder => "Test Count", :label => false, :input_html => {:style => "width:100%;", :value =>  params[:count], :class => "form-control"} %>
            </div>
            <div class="col-sm-6">
               <%= f.input :image_yes, :collection => ['image_yes'], :label => false, :input_html => {:style => "width:100%;", :class => "form-control"}, :prompt => "Select Type" %>
            </div>
          </div>
        </div>
      </div>
      <hr><hr>
      <div class="row">
        <div class="col-sm-2">
          <%= f.input :imagea, as: :file, :label => false %>
        </div>
        <div class="col-sm-2">
          <%= f.input :imageb, as: :file, :label => false %>
        </div>
        <div class="col-sm-2">
          <%= f.input :imagec, as: :file, :label => false %>
        </div>
        <div class="col-sm-2">
          <%= f.input :imaged, as: :file, :label => false %>
        </div>
      </div><br>
      <div class="text-center">
        <%= f.submit "submit", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div><br>

  <table class="table table-hover">
  <tr>
  <th>Subject</th>
  <th>Test</th>
  <th> Added Questions</th>
  </tr>
      <tr>
        <td class="bg-primary">Civil</td>       
            <% if @civc.blank?%>
            <td class="bg-primary">0</td>
            <td class="bg-primary">0</td>      
            <% else %>
            <% @civc.each do |m| %>
               <td class="bg-primary"><%= m.test_count %></td>
              <td class="bg-primary"><%= @civc.count %></td> 
             <% break %>
             <% end %>
             <% end %>
      </tr>
      
      <tr>
        <td>Mathamatics</td>       
            <% if @mc.blank?%>
            <td>0</td>
            <td>0</td>      
            <% else %>
            <% @mc.each do |m| %>
               <td><%= m.test_count %></td>
              <td><%= @mc.count %></td> 
             <% break %>
             <% end %>
             <% end %>
      </tr>


      <tr>
        <td>Physics</td>       
            <% if @pc.blank?%>
            <td>0</td>
            <td>0</td>      
            <% else %>
            <% @pc.each do |p| %>
               <td><%= p.test_count %></td>
              <td><%= @pc.count %></td> 
             <% break %>
             <% end %>
             <% end %>
      </tr>

      <tr>
        <td>Chemistry</td>       
            <% if @cc.blank?%>
            <td>0</td>
            <td>0</td>      
            <% else %>
            <% @cc.each do |c| %>
               <td><%= c.test_count %></td>
              <td><%= @cc.count %></td> 
             <% break %>
             <% end %>
             <% end %>
      </tr>


       <tr>
        <td>Electrical & Electronics</td>       
            <% if @eec.blank?%>
            <td>0</td>
            <td>0</td>      
            <% else %>
            <% @eec.each do |c| %>
               <td><%= c.test_count %></td>
              <td><%= @eec.count %></td> 
             <% break %>
             <% end %>
             <% end %>
      </tr>


       <tr>
        <td>Electronics & Communication</td>       
            <% if @ecc.blank?%>
            <td>0</td>
            <td>0</td>      
            <% else %>
            <% @ecc.each do |c| %>
               <td><%= c.test_count %></td>
              <td><%= @ecc.count %></td> 
             <% break %>
             <% end %>
             <% end %>
      </tr>

      

      <tr>
        <td>Computer Science and Engineering</td>       
            <% if @csc.blank?%>
            <td>0</td>
            <td>0</td>      
            <% else %>
            <% @csc.each do |c| %>
               <td><%= c.test_count %></td>
              <td><%= @csc.count %></td> 
             <% break %>
             <% end %>
             <% end %>
      </tr>

      <tr>
        <td>Mechanical</td>       
            <% if @mecc.blank?%>
            <td>0</td>
            <td>0</td>      
            <% else %>
            <% @mecc.each do |c| %>
               <td><%= c.test_count %></td>
              <td><%= @mecc.count %></td> 
             <% break %>
             <% end %>
             <% end %>
      </tr>
      <tr>
        <td></td>
        <td>Total</td>
        <td><b><%= @total %></b></td>
      </tr>
</table>
</div>
</div>
</div>
