<div class="content-page">
  <!-- Start content -->
  <div class="content">

    <div class="row">
      <div class="col-sm-4">
        <ol class="breadcrumb">
            <li><b><a href="/addecet/mathematics">Mathematics</a><br></b></li><br><br>
            <li><b><a href="/addecet/physics">Physics</a></b></li><br><br>
            <li><b><a href="/addecet/chemistry">Chemistry</a></b></li><br>
        </ol>
      </div>

      <div class="col-sm-5">
        <ol class="breadcrumb">
            <li><b><a href="/addecet/ece">Electronics & Communication</a></b></li><br><br>
            <li><b><a href="/addecet/cse">Computer Science and Engineering</a></li><br><br>
            <li><b><a href="/addecet/eee">Electrical & Electronics</a></b></li>
        </ol>
      </div>

      <div class="col-sm-3">
        <ol class="breadcrumb">
            <li><b><a href="/addecet/mechanical">Mechanical</a></b></li><br><br>
            <li><b><a href="/addecet/civil">Civil</a></b></li><br><br>
            <br>
        </ol>
      </div>
    </div>

    <% @total.each do |t| %>
    <% if t %>
    <div class="panel panel-success">

      <div class="panel-heading"><b>TEST <%= t %></b></div>

      <div class="panel-body">

        <div class="row">
          <div class="col-sm-4">
            
            <div class="row">
              <div class="col-sm-6">
                <a href="/adminecet/test_questions/<%=t%>/mathematics">Mathematics</a>
              </div>
              <div class="col-sm-6">
                <b class="text-primary"><%= Ecet.where(:short_subject => "mathematics", :testcount => t).count %></b>
              </div>
          </div>
      <br>
      <div class="row">
          <div class="col-sm-6">
            <a href="/adminecet/test_questions/<%=t%>/physics">Physics</a>
          </div>
          <div class="col-sm-6">
            <b class="text-primary"><%= Ecet.where(:short_subject => "physics", :testcount => t).count %></b>
          </div>
      </div>
        <br>
    <div class="row">
          <div class="col-sm-6">
            <a href="/adminecet/test_questions/<%=t%>/chemistry">Chemistry</a>
          </div>
          <div class="col-sm-6">
            <b class="text-primary"><%= Ecet.where(:short_subject => "chemistry", :testcount => t).count %></b>
          </div>
      </div>
      <br>
      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <a href="/adminecet/test_questions/<%=t%>/ece">ECE</a>
          </div>
          <div class="col-sm-6">
            <b class="text-primary"><%= Ecet.where(:short_subject => "ece", :testcount => t).count %></b>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-6">
            <a href="/adminecet/test_questions/<%=t%>/cse">CSE</a>
          </div>
          <div class="col-sm-6">
            <b class="text-primary"><%= Ecet.where(:short_subject => "cse", :testcount => t).count %></b>
          </div>
      </div>
        <br>
    <div class="row">
          <div class="col-sm-6">
            <a href="/adminecet/test_questions/<%=t%>/eee">EEE</a>
          </div>
          <div class="col-sm-6">
            <b class="text-primary"><%= Ecet.where(:short_subject => "eee", :testcount => t).count %></b>
          </div>
      </div>
      <br>
      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <a href="/adminecet/test_questions/<%=t%>/mechanical">Mechanical</a>
          </div>
          <div class="col-sm-6">
            <b class="text-primary"><%= Ecet.where(:short_subject => "mechanical", :testcount => t).count %></b>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-6">
            <a href="/adminecet/test_questions/<%=t%>/civil">Civil</a>
          </div>
          <div class="col-sm-6">
            <b class="text-primary"><%= Ecet.where(:short_subject => "civil", :testcount => t).count %></b>
          </div>
      </div>
        <br>
    <div class="row">
          <div class="col-sm-6">
            <b class="text-danger">Total</b>
          </div>
          <div class="col-sm-6">
            <b class="text-danger"><%= Ecet.where(:testcount => t).count %></b>
          </div>
      </div>
      <br>
      </div>
    </div>

      </div>
  </div>
   <% end %>
   <% end %>

  </div>

</div>