<div class="container-fluid">
	<div class="row">
      <div class="col-sm-12">
        <h4 class="page-title">Add Ecet Questions</h4>
        <ol class="breadcrumb">
          <li><b><a href="/">Home</a></b></li>
          <li><b><a href="/board">Admin</a></b></li>
          <li><b><a href="/adminecet">Ecet Subjects</a></b></li>
          <li class="active">Add Questions</li>
        </ol>
      </div>
    </div>
	<table class="table table-bordered" style="max-width: 100%;">
	<tr>
		<th>S.NO</th>
		<th>Question</th>
		<th>Option A</th>
		<th>Option B</th>
		<th>Option C</th>
		<th>Option D</th>
		<th>Answer</th>
	</tr>
<% c =1 %>
<% @total.each do |t|%>
	<tr>
		<td><%= c %></td>
		<td>
			<%=t.question.html_safe %>
			<% if t.questionimage? %>
			    <ul class="enlarge">
			    <li><%= image_tag(t.questionimage, :width => 400, :height => 200, :class => "thumb") %>
			    	<span><%= image_tag(t.questionimage, :width => 600, :height => 400, :class => "thumb") %><b class="text-danger">Move slide bar left or right to view fiull Image</b></span>
			    </li>
			    </ul>
			<% end %>
		</td>
		<td>
			<% if t.imagea? %>
				<ul class="enlarge">
    				<li><%= image_tag(t.imagea, :width => 100, :height => 100, :class => "thumb") %>
    				<span><%= image_tag(t.imagea, :width => 600, :height => 400, :class => "thumb") %><br/>
    				<b class="text-danger">Move slide bar left or right to view fiull Image</b></span>
    			</li>
    			</ul>
			<% else %>
				<%=t.a.html_safe %>
			<% end %>
		</td>
		<td>
			<% if t.imageb? %>
				<ul class="enlarge">
    				<li><%= image_tag(t.imageb, :width => 100, :height => 100, :class => "thumb") %>
    				<span><%= image_tag(t.imageb, :width => 600, :height => 400, :class => "thumb") %><br/>
    				<b class="text-danger">Move slide bar left or right to view fiull Image</b></span>
    			</li>
    			</ul>
			<% else %>
				<%=t.b.html_safe %>
			<% end %>
		</td>
		
		<td>
			<% if t.imagec? %>
				<ul class="enlarge">
    				<li><%= image_tag(t.imagec, :width => 100, :height => 100, :class => "thumb") %>
    				<span><%= image_tag(t.imagec, :width => 600, :height => 400, :class => "thumb") %><br/>
    				<b class="text-danger">Move slide bar left or right to view fiull Image</b></span>
    			</li>
    			</ul>
			<% else %>
				<%=t.c.html_safe %>
			<% end %>	
		</td>
		<td>
			<% if t.imaged? %>
				<ul class="enlarge">
    				<li><%= image_tag(t.imaged, :width => 100, :height => 100, :class => "thumb") %>
    				<span><%= image_tag(t.imaged	, :width => 600, :height => 400, :class => "thumb") %><br/>
    				<b class="text-danger">Move slide bar left or right to view fiull Image</b></span>
    			</li>
    			</ul>
			<% else %>
				<%=t.d.html_safe %>
			<% end %>
		</td>
		<td><%=t.answer.html_safe %></td>
		<td><%= link_to "delete","/ecet/question/#{t.id}/delete/#{t.testcount}/perminent", method: :delete, data: { confirm: "Delete S.No - #{c} ?"} %>
</td>
	</tr>
	<% c+=1 %>
<% end %>
</table>
</div>

<style type="text/css">
	ul.enlarge{
    list-style-type:none; /*remove the bullet point*/
    
    }
    ul.enlarge li{
    display:inline-block; /*places the images in a line*/
    position: relative;
    z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    }
    ul.enlarge img{
    background-color:#eae9d4;
    padding: 6px;
    -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    ul.enlarge span{
    position:absolute;
    left: -9999px;
    background-color:#eae9d4;
    padding: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size:.9em;
    text-align: center;
    color: #495a62;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius:8px;
    }
    ul.enlarge li:hover{
    z-index: 50;
    cursor:pointer;
    }
    ul.enlarge span img{
    padding:2px;
    background:#ccc;
    }
    ul.enlarge li:hover span{
    top: -300px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: -20px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    ul.enlarge li:hover:nth-child(2) span{
    left: -100px;
    }
    ul.enlarge li:hover:nth-child(3) span{
    left: -200px;
    }
    /**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
    ul.enlarge img, ul.enlarge span{
    behavior: url(pie/PIE.htc);
    }

</style>
<script type="text/javascript">
	$(document).ready(function() {
    $('#user').hover(function() {
        $('#popup').show();
    }, function() {
        $('#popup').hide();
    });
});
</script>

