<% content_for :title, "NEET GOV ONLINE EXAMINATION PORTAL" %>
<% content_for :description, "Neet Gov Providing All india Educations Updates, Notifications, Time tables, Results, Syllabus books, Etc. This Info for Helping Students We Are Providing Accurately for Official Conformation contact college section and higher authorities"%>

<style type="text/css">
	table {
    table-layout: fixed;
    word-wrap: break-word;
}

/*tr:nth-child(odd) {
    background: lightgreen;
}
*/
</style>
<% i = 1 %>
<% j = 0 %>
<% k = 1%>
<div class="container"><br>
			<div class="row text-center">
					  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				        <!-- school9edumain_Blog1_1x1_as -->
				        <ins class="adsbygoogle"
				             style="display:block"
				             data-ad-client="ca-pub-7665698555914778"
				             data-ad-slot="9074553645"
				             data-ad-format="auto"></ins>
				        <script>
				        (adsbygoogle = window.adsbygoogle || []).push({});
				        </script>


	<table class="table table-bordered table-hover" style="border-width: 20px">
		<tr class="text-center">
			<th class="col-sm-4">Question</th>
			<th>Option A</th>
			<th>Option B</th>
			<th>Option C</th>
			<th>Option D</th>
			<th class="col-sm-1">Your Answer</th>
			<th class="col-sm-1">True Answer</th>


		</tr>
			<% ad=@ecetresults.count/3 %>
			<% ad2=@ecetresults.count/3 %>
		
		<% @ecetresults.each do |r| %>
			
			<% @question = Ecet.find_by_id(r.question_id) %>

					<%if r.answer == "a"%>
						<% an = @question.a%>
					<%elsif r.answer == "b" %>
						<% an = @question.b %>
					<%elsif r.answer == "c" %>
						<% an = @question.c %>
					<%elsif r.answer == "d" %>
						<% an = @question.d%>
					<% end %>

					<%if @question.answer == "a"%>
						<% qa = @question.a%>
					<%elsif @question.answer == "b"%>
						<%qa = @question.b%>
					<%elsif @question.answer == "c"%>
						<%qa = @question.c%>
					<%elsif @question.answer == "d"%>
						<%qa = @question.d%>
					<% end %>


				<% if r.answer == @question.answer %>
					<% color = "green" %>
					<% j+= 1 %>
				<% else %>
					<% color ="#f27171" %>
				<% end %>
				
				<tr>
					<td > <%=raw @question.question %><br>
					<% if @question.questionimage? %>
						<%= image_tag(@question.questionimage,:class => 'img-responsive') %>
					<% end %>
					</td>
					<% k+=1%>

					<td>
						<%if @question.imageyes == "imageyes" %>
							<%= image_tag(@question.imagea,:class => 'img-responsive') %>
						<% else %>
							<%= @question.a %>
						<% end %>
					</td>
					
					<td>
						<%if @question.imageyes == "imageyes" %>
							<%= image_tag(@question.imageb,:class => 'img-responsive') %>
						<% else %>
							<%= @question.b %>
						<% end %>
					</td>
					
					<td>
						<%if @question.imageyes == "imageyes" %>
							<%= image_tag(@question.imagec,:class => 'img-responsive') %>
						<% else %>
							<%= @question.c %>
						<% end %>
					</td>
					
					<td>
						<%if @question.imageyes == "imageyes" %>
							<%= image_tag(@question.imaged,:class => 'img-responsive') %>
						<% else %>
							<%= @question.d %>
						<% end %>
					</td>
					
					<td >
							<h3 style="color:<%= color%>"><b><%= r.answer %></b></h3>
					</td>
					
					<td class="text-center">
						<h3 style="color:green"><b><%= @question.answer %></b></h3>
					</td>
				</tr>

				<% if i == ad %>
				<% ad+=ad2 %>
				<tr class="text-center">
				<td colspan="7">
					<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
                    <!-- Responsive Links -->
                    <!-- <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="8409268847"
                         data-ad-format="link"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script> -->
           <% else %>

                   </td> 
                   
                </tr>
                <% end %>


				<% i+=1 %>
			<% end %>
	</table>

	<div class="row text-center panel">
		<!-- <div class="col-md-6"> -->
		<div class="row">
			<div class="col-sm-6 text-danger"><b>Total Questions Attempt = <span style="font-size: 24px;color:red;"><%= @ecetresults.count %></span></b></div>
			<div class="col-sm-6 text-success"><b>Your Correct Answer = <span style="font-size: 24px;color:green;"><%= j %></span></b></div>
		</div>
		<!-- </div> -->
	</div>

	<div class="row text-center">

	<%= will_paginate @ecetresults, :class => "flickr_pagination", :previous_label => "Previous", :next_label => 'Next', :page_links => true, renderer: BootstrapPagination::Rails %>
			

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- school9edu_main_Blog1_1x1_as -->
		<ins class="adsbygoogle"
		    style="display:block"
			data-ad-client="ca-pub-7665698555914778"
			data-ad-slot="9074553645"
			data-ad-format="auto"></ins>
			<script>
			   (adsbygoogle = window.adsbygoogle || []).push({});
			</script>

	</div>

</div>