<% content_for :title, "NEET GOV ONLINE EXAMINATION PORTAL" %>
<% content_for :description, "Neet Gov Providing All india Educations Updates, Notifications, Time tables, Results, Syllabus books, Etc. This Info for Helping Students We Are Providing Accurately for Official Conformation contact college section and higher authorities"%>
<!-- <style type="text/css">
	.rightdiv {
   position: absolute;
   left: 100%;
   top: 0;
}
</style> -->
<div class="container">

<div class="row">
      <div class="col-sm-12">
        <h4 class="page-title"></h4>
        <ol class="breadcrumb">
          <li><b><a href="/">Home</a></b></li>
          <li><b><a href="/ecetsubjects">Ecet Subjects</a></b></li>
          <li class="active">Tests</li>
        </ol>
     </div>
 </div>
<div class="row text-center">
           <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:140px'></ins>
                
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>


<% i = 1 %>

<div class="row">
<div class="col-sm-1 text-center"></div>
	<div class="col-md-10">

<% if @livetests.empty? %>
	<div class="alert alert-danger">
      <strong>Sorry! No tests added yet</strong>
    </div>
		
<% else %>
		<table class="table table-bordered">
			<tr>
				<th class="success">Test</th>
				<th class="success">Date</th>
				<th class="success"></th>
			</tr>
			
			<% ad=@livetests.count/2 %>
			<% ad2=@livetests.count/2 %>
			<% count = @livetests.count %>


		<% @livetests.each do |c| %>
			<tr>
				<td><%= c.subject.upcase %> TEST - <%= i %></td>
				<td><%= c.created_at.strftime('%d-%m-%Y %T') %></td>
				<td><a href="/exam/ecet/<%=c.subject %>/<%= c.testcount %>/<%= @subject %>" >Start Exam </a></td>
				
			
			</tr>
			<% if i == ad %>
				
				<tr class="text-center">
					<td colspan="3">
	 				<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	 				 <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="8409268847"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
	                </td> 
	             </tr>
                <% end %>

			<% i+=1 %>
	<% end %>
		</table>
<% end %>

</div>

<div class="col-sm-1 text-center"></div>

	 				<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	 				 <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="8409268847"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
</div>
		<!-- <div class="row text-center">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	                  <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:400px;max-width:1100px;width:100%;height:100px'></ins>
	                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	    </div> -->

</div>
