<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="col-md-4">
    <a href="/"> <img src="http://4.bp.blogspot.com/-Yp__6jsC768/WLqhUlOxbKI/AAAAAAAAGW8/88WLFB8tRko43XjthNQSDnzj8GwgNODSACK4B/s1600/SBTET%2BWORLD1.png" width="60%"></a>
  </div>
  <br>
    <ul class="nav navbar-nav navbar-right" id="mouseover">
     <li>  <%= link_to('My Account', edit_user_registration_path) %></li>
      <li><a href ="/logout">logout </a> </li>
     
    </ul>
  </div>
</nav>
 -->
 <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="http://4.bp.blogspot.com/-Yp__6jsC768/WLqhUlOxbKI/AAAAAAAAGW8/88WLFB8tRko43XjthNQSDnzj8GwgNODSACK4B/s1600/SBTET%2BWORLD1.png" width="60%" /></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to('', '#') %></li>
        <li><%= link_to('', '#') %></li>
        <li><%= link_to('', '#') %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Home', '/') %></li>
        <li><%= link_to('Ecet','/ecet-subjects') %></li>
        <li><%= link_to('Eamcet','#') %></li>
          <li><%= link_to('My Account', edit_user_registration_path) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>